:root {
  --background: #d9d9d9;
  --foreground: white;
  --text: black;
  --accent: #1C9479;
  --accent-filter: brightness(0) saturate(100%) invert(49%) sepia(18%) saturate(1519%) hue-rotate(116deg) brightness(92%) contrast(96%);
  --disabled: #8dd6bf;

  --link: rgb(0, 119, 255);

  --error: #bb0000;
  --warning: #DAA520;

  --left-column-width: 20%;
  --left-column-image: 15vh;

  --center-column-width: 50%;
  --center-column-height: 20vh;

  --right-column-width: 30%;
  --right-column-height: 40vh;

  --link-icon: 20px;
}